<div class="container mt-4">
    <h2>Contact</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis molestias corrupti assumenda id repellat quam? Est
        rem asperiores iusto sit obcaecati, adipisci, aliquam vero itaque perspiciatis alias nesciunt commodi ipsa?</p>
    <div class="d-flex justify-content-center">
        <div class="formulario bg-light p-3 border border-secondary w-75">
            <div class="mb-3 d-flex">
                <label for="exampleFormControlInput1" class="form-label"><strong>Your E-mail</strong></label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your E-mail">
            </div>
            <div class="mb-3 d-flex">
                <label for="exampleFormControlTextarea1" class="form-label"><strong>Your Message</strong></label>
                <textarea class="form-control" id="exampleFormControlTextarea1"
                    rows="3">Please enter your Message here...</textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button">Submit</button>
            </div>
        </div>
    </div>
</div>
</div>