<!-- your html code here -->
<div class="container text-center">
    <div class="row">
      <div class="col">
        <p style="font-size: 32px;">The first heading <span>will catch your eyes</span></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint fugit repellendus doloribus tempore veritatis aliquid, iusto, neque error deleniti perspiciatis qui libero mollitia, minus repellat quos commodi ducimus reiciendis numquam?</p>
      </div>
      <div class="col-4"> 
        <img src="https://github.com/4GeeksAcademy/DocGus-exerciseCollaborative/blob/ft-first-heading/website/assets/img/1.jpg?raw=true" alt=""
        style="height: 25%; border-radius:50%;"
        > 
      </div>
    </div>
  </div>